#AnchorPane{
    -fx-background-color: rgba(234, 255, 131, 0.63);
    -fx-padding: 5 5 5 5;
    -fx-font-weight: bold;
}
#searchButton{
    -fx-background-color: none;
}
#searchButton:hover{

}
#textField{
    -fx-border-width: 0.5px;
    -fx-border-color: #ACACAC;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-font-size: 15px;
    -fx-padding: 5px;
    -fx-font-weight: 600;
    -fx-font-family: 'Open-Sans, Arial';
}
#searchButton:pressed
{

}
.ListView{
    -fx-background-color: #f1f1f1;
}
#Text{
    -fx-padding: 2 205 2 250;
    -fx-background-color: #4d90fe;
    -fx-text-color: #fffbfb;

}
#Text1{
    -fx-background-color: #4d90fe;
    -fx-padding: 2 60 2 60;
    -fx-label-color: #fffbfb;
}
.EngViet
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #4e71ff 0%, #4e71ff 100%),
            #4e71ff,
            #06a7ff,
            radial-gradient(center 50% 50%, radius 100%,#06a7ff,#4e71ff);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.4em;
    -fx-text-fill: white;
}

.EngViet:hover
{

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#4e71ff 0%,#4e71ff 100),
            #06a7ff,
            #4e71ff,
            radial-gradient(center 50% 50%,radius 100%, #3695ff,#4e71ff);
}

.EngViet:pressed
{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}
#Home
{
    -fx-background-color: rgba(133, 255, 90, 0.99);
    -fx-padding: 5 5 5 5;
    -fx-font-weight: bold;
}
#Home1:hover{
    -fx-background-color: #00ccff;
}

#Home1{
    -fx-background-color: #0088ff;
}
.ChoiBox
{
    -fx-border-width: 0.5px;
    -fx-border-color: #ACACAC;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-font-size: 15px;
    -fx-padding: 5px;
    -fx-font-weight: 600;
    -fx-font-family: 'Open-Sans, Arial';
}
#Vbox
{
  -fx-background-color: #4e71ff;
    -fx-border-color: rgba(234, 255, 131, 0.63);
}
.HboxButton
{
    -fx-background-color: none;
    -fx-background-radius: 30px;
    -fx-text-fill: #fff;
}
.HboxButton:hover{
    -fx-background-color: #3695ff;
    -fx-effect: : dropshadow(three-pass-box, ##3695ff, 5, 0, 2, 5);
}
.HboxButton:pressed{
    -fx-background-color: #3695ff;
    -fx-effect: : none;
}
#Hbox
{
    -fx-background-color: rgba(69, 255, 26, 0.63);
    -fx-border-color: rgba(234, 255, 131, 0.63);
}
.VBoxButton
{
    -fx-background-color:
            #4d90fe,
            linear-gradient(#257cff 50%, #4d90fe 100%),
            radial-gradient(center 50% -40%, radius 100%, white 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.VBoxButton:hover
{
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#4e71ff 0%,#4e71ff 100),
            #06a7ff,
            #4e71ff,
            radial-gradient(center 50% 50%,radius 100%, #3695ff,#4e71ff);
}
.VBoxButton:pressed
{
    -fx-background-color: #4e71ff;
    -fx-effect: none;
}
#GoogleAnchorPane
{
    -fx-border-color: rgba(69, 255, 26, 0.63);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-background-color: rgba(255, 251, 84, 0.99);
    -fx-padding: 5 5 5 5;
    -fx-font-weight: bold;
}